<!DOCTYPE html>
<html lang="pt-br">
<!-- Include Head -->
<%- include('partials/head', {title: 'Início Admin'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner"></div>
	<!-- /Banner -->

	<h1>
		Olá Admin: <%=user%> 
	</h1>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>