<!DOCTYPE html>
<html lang="pt-br">
<!-- Include Head -->
<%- include('partials/head', {title: 'Login'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Login</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/user/login" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="email" class="form-label">E-mail:</label>
						<input type="text" id="email" name="email" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="password" class="form-label">Senha:</label>
						<input type="password" id="password" name="password" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="keepCon" class="form-label">Manter-se conectado:</label>
						<input type="checkbox" id="keepCon" name="keepCon" class="form-input">
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Salvar produto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos os produtos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>