<!DOCTYPE html>
<html lang="pt-br">
<!-- Include Head -->
<%- include('partials/head', {title: 'Cadastro usuário'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulário de Cadastro de Usuário</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/user/cadastrar" method="POST">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="full_name" class="form-label">Nome Completo:</label>
						<input type="text" id="fullName" name="full_name" placeholder="John Doe" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="email" class="form-label">E-mail:</label>
						<input type="email" id="email" name="email" placeholder="john@doe.com" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="date_birth" class="form-label">Data Nascimento:</label>
						<input type="date" id="date_birth" name="date_birth" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="gender" class="form-label">Gênero:</label>
						<select name="gender" id="gender" class="form-input">
							<option value="">Escolhi</option>
							<option value="masc">Masculino</option>
							<option value="fem">Feminino</option>
						</select>
					</div>
					<div class="col-12">
						<label for="password" class="form-label">Senha:</label>
						<input type="password" id="password" name="password" class="form-input">
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos os produtos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>